/* Hello World Editor style sheet */
@outer-bg:#e3e3e3; //编辑器背景颜色
@textarea-bg:#e1f3d3; //文本编辑的背景颜色
@title-bg:#e1f3d3; //文本编辑器标题背景颜色
@tool-bg:#ccc; //文本编辑器工具栏背景颜色
@content-bg:#eee; //正文文本编辑器的背景颜色
@preview-bg:#fff; //预览背景颜色
@p-border:#414141; //预览与编辑器之间的边线颜色

@import "function.less"; //工具样式

/* stylesheet */
.h-outer{
    background-color:@outer-bg;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;

    .h-textarea{
        position:absolute;
        right:40%;
        top:0;
        bottom:0;
        left:0;
        z-index:100;
        background-color:@textarea-bg;

        .h-title-panel{
            padding:10px 20px;
            height:80px;
            background-color:@title-bg;
            box-sizing:border-box;

            .h-title{
                height:60px;
                width:100%;
                line-height:60px;
                font-size:32px;
                background-color: @title-bg;
                border:none;
            }

        }
        .h-tool-panel{
            border-bottom:1px solid @p-border;
            height:30px;
            background-color:@tool-bg;
            padding:0 20px;
            
            .h-tool-item{
                float:left;
                height:30px;
                width:30px;
                cursor:pointer;
                border:1px solid red;
                box-sizing:border-box;
                
            }
        }

        .h-content-panel{
            position:absolute;
            top:110px;
            left:0px;
            right:0px;
            bottom:0px;
            background-color:@content-bg;
            padding:10px 20px;

            .h-content{
                border:none;
                width:100%;
                height:100%;
                background-color:@content-bg;
                font-family:'lucida grande',Helvetica,Tahoma,Verdana,Microsoft YaHei,Arial,simsun,sans-serif;
                font-size:1.4em;
                line-height:1.2em;
                outline:none;
                resize:none;
            }
        }

    }
    .h-preview{
        position:absolute;
        right:0;
        top:0;
        bottom:0;
        left:60%;
        background-color:@preview-bg;
        border-left:1px solid @p-border;
        padding:20px;
        overflow:auto;

        .h-text-content-title{
            font-size:3em;
            font-weight:bolder;
            line-height:1.2em;
        }
        .h-text-content{
            border-top:1px solid #666;
            margin-top:20px;
            padding:20px 0;
            position: relative;
        }
    }

    &.h-masked{
        -webkit-filter:blur(3px);
        -moz-filter:blur(3px);
        -o-filter:blur(3px);
        -ms-filter:blur(3px);
        filter:blur(3px);
    }


}

//测试的时候写在外面，最后要写在里面
.h-dialog{
    position:absolute;
    width:300px;
    height:200px;
    background-color:#fff;
    border:1px solid red;
    z-index: 1000;
}
